<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block page_title %}{% endblock %} - Account System</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/css/bootstrap-responsive.min.css" type="text/css">
    </head>
    
    <body>
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
        
        {% block content %}
        {% endblock %}

</div>
</div>
</div>

    </body>
    
</html>