{% extends "layout.html" %}

{% block page_title %}Account Logs{% endblock %}
{% block content %}


<h1>LOGS</h1>

{% if messages %}
<div class="alert alert-success">
    <ul>
{% for success_message in messages %}
        <li>{{ success_message }}</li>
{% endfor %}
    </ul>
</div>
{% endif %}

<div id="search-form">
    <form action="" method="GET">
        <table class="table table-bordered">
        {{ form }}
        </table>
        <p><input type="submit" value="SEARCH" class="btn btn-primary"></p>
    </form>
</div>

<div class="pagination">
    <ul>
{% if not list.has_previous %}
        <li class="disabled"><a href="#">PREV</a></li>
{% else %}
        <li class=""><a href="{% url account.views.index %}?page={{ list.previous_page_number }}">PREV</a></li>
{% endif %}
{% for p in pager.page_range %}
        <li class=""><a href="{% url account.views.index %}?page={{ p }}">{{ p }}</a></li>
{% endfor %}
{% if not list.has_next %}
        <li class="disabled"><a href="#">NEXT</a></li>
{% else %}
        <li class=""><a href="{% url account.views.index %}?page={{ list.next_page_number }}">NEXT</a></li>
{% endif %}
    </ul>
</div>

<form action="{% url account.views.batch %}" method="POST">
{% csrf_token %}
    <div id="search-result">
        
        <table id="search-result-table" class="table table-bordered table-striped">
            <tr>
                <th></th>
                <th>日付</th>
                <th>カテゴリ</th>
                <th>金額</th>
                <th>備考</th>
            </tr>
{% for row in list %}
            <tr>
                <td><input type="checkbox" name="ids" value="{{ row.id }}"></td>
                <td>{{ row.logDate }}</td>
                <td>{{ row.category.name }}</td>
                <td>{{ row.price }}</td>
                <td>{{ row.memo }}</td>
            </tr>
{% endfor %}
        </table>
    
    </div>


    <div id="action-box" class="well">
        <p>チェックした項目に対して以下の処理を実行：</p>
        <select name="action">
            <option value="-">---選択---</option>
            <option value="d">削除</option>
        </select>
        
        <input type="submit" value="実行" class="btn btn-warning">
        
    </div>

</form>

{% endblock %}
