<div class="pagination">
    <ul>
{% if not list.has_previous %}
        <li class="disabled"><a href="#">PREV</a></li>
{% else %}
        <li class=""><a href="?page={{ list.previous_page_number }}">PREV</a></li>
{% endif %}
{% for p in pager.page_range %}
        <li class="{% if list.number == p %}active{% endif %}"><a href="?page={{ p }}">{{ p }}</a></li>
{% endfor %}
{% if not list.has_next %}
        <li class="disabled"><a href="#">NEXT</a></li>
{% else %}
        <li class=""><a href="?page={{ list.next_page_number }}">NEXT</a></li>
{% endif %}
    </ul>
</div>
